.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 766px;
  background-color: white;
  border-radius: 24px;
  box-sizing: border-box;
}

.wrapper hr {
  margin: 0;
}

.cross {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 16px 12px 24px;
}

.cross svg {
  color: var(--light-icon);
  cursor: pointer;
}

.content {
  padding: 16px 24px 0;
}

.mb16 {
  margin-bottom: 16px;
}

.grid {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.grid div {
  background-size: auto 100%;
  width: 226px;
  height: 200px;
  border-radius: 16px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 16px;
  cursor: pointer;
}

.grid div p {
  padding: 7px 14px;
  font-weight: 548;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5%;
  background-color: white;
  border-radius: 100px;
  margin: 0;
}
.grid > .chosen {
  opacity: 60%;
}

.sportsmen,
.organizations {
  overflow-y: scroll;
  padding-right: 20px;
}

.sportsmen {
  max-height: 420px;
}

.organizations {
  max-height: 400px;
}

.sportsmen > .twoCold,
.organizations > .twoCold {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px 54px;
  margin-top: 24px;
}

.sportsmen > .twoCold > div,
.organizations > .twoCold > div {
  padding-right: 8px;
}

.sportsmen::-webkit-scrollbar,
.organizations::-webkit-scrollbar {
  width: 4px;
}

.sportsmen::-webkit-scrollbar-track,
.organizations::-webkit-scrollbar-track {
  border-radius: 8px;
}

.sportsmen::-webkit-scrollbar-thumb,
.organizations::-webkit-scrollbar-thumb {
  background: #cccfda;
  border-radius: 10px;
}

.avatarContainer {
  width: max-content;
  position: relative;
  margin-bottom: 32px;
  cursor: pointer;
}

.avatarContainer > .addPhoto {
  position: absolute;
  top: 68px;
  left: 68px;
  background: #f1f3f7;
  width: 32px;
  height: 32px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.addPhoto > svg {
  color: #9395b8;
  width: 16px;
  height: 16px;
}

.dropDownItem {
  display: flex;
  width: 140px;
  padding: 10px 12px;
}

.dropDownItem:first-child {
  border-bottom: 1px solid #F1F3F7;
}

.dropDownItem svg {
  color: #9395b8;
  width: 20px;
  height: 20px;
  margin-right: 8px
}

.userDataForm {
  height: 452px;
}

.userDataGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px 24px;
}

.userDataGrid .errorMargin {
  margin-bottom: 16px;
}

.userDataGrid label {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #7b7ea5;
  margin-bottom: 6px;
}

.userDataGrid .inputWrapper {
  color: var(--black);
  background: #f1f3f7;
  padding: 9px 12px;
  border-radius: 10px;
  width: -webkit-fill-available;
  display: flex;
  cursor: pointer;
}

.userDataGrid .error {
  border: 1px solid var(--red);
}

.userDataGrid input {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.userDataGrid input::placeholder {
  color: #9395b8;
}

.userDataGrid svg {
  color: var(--light-icon);
  margin-left: 4px;
}
